<% provide(:title, "Users") %>

<h1>Users</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <% if current_user %>
        <% if current_user.role == :admin %>
          <th>Email</th>
          <th>Role</th>
        <% end %>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 50 %></td>
        <td><%= link_to user.first_name, user %></td>
        <td><%= user.last_name %></td>
        <% if current_user %>
          <% if current_user.role == :admin %>
            <td><%= user.email %></td>
            <td>
              <% if user.role %>
                <%= user.role %>
              <% else %>
                User
              <% end %>
            </td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <% if current_user %>
          <% if current_user.role == :admin && !current_user?(user)%>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>
